{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <!-- Potholes in Mumbai -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Potholes in Mumbai</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body no-padding bg-primary text-center">
                <div class="padding-top-30 padding-bottom-30">
                    <img src="{{url_for('static', filename='potholes.jpg')}}" alt="image" style="max-width:360px;"/>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <strong>Description</strong>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quae eius, repellat asperiores numquam distinctio facilis deserunt explicabo eum, tempore minus in hic! Commodi architecto quos odio rerum ratione tempore?</p>
        </div>

        <!-- END Potholes in Mumbai -->
    </div>
    <div class="col-md-4">
            <!-- Potholes in Mumbai -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Known Criminal Spotted</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                </div>
                <div class="panel-body no-padding bg-primary text-center">
                    <div class="padding-top-30 padding-bottom-30">
                        <img src="{{url_for('static', filename='criminal.jpg')}}" alt="image" style="max-width:360px;"/>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <strong>Description</strong>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quae eius, repellat asperiores numquam distinctio facilis deserunt explicabo eum, tempore minus in hic! Commodi architecto quos odio rerum ratione tempore?</p>
            </div>
    
            <!-- END Potholes in Mumbai -->
        </div>
        <div class="col-md-4">
                <!-- Potholes in Mumbai -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Unacceptable living conditions in Municipal Hospitals</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding bg-primary text-center">
                        <div class="padding-top-30 padding-bottom-30">
                            <img src="{{url_for('static', filename='hospital.jpg')}}" alt="image" style="max-width:360px;"/>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <strong>Description</strong>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quae eius, repellat asperiores numquam distinctio facilis deserunt explicabo eum, tempore minus in hic! Commodi architecto quos odio rerum ratione tempore?</p>
                </div>
        
                <!-- END Potholes in Mumbai -->
            </div>
                {% endblock %}